body{
  background-color: black;
}
.gifs{
  margin:0 auto;
  width:85%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.gif{
  padding: 0 2px;
}
.form_header{
  text-align: center;
}
.form-control{
  width:78%;
  padding: 12px;
}

.heading{
  color:white;
  margin-left:10%;
}
.logo{
  margin-left:9%;
  height:70px
}
.search_logo{
  width:30px;
  height:30px;
}